# Node modules
node_modules/
vmms_backend/node_modules/
vmms_backend/node_modules/


# Environment files
.env

# Build folders
dist/
build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Backend folders
vmms_backend/uploads/
vmms_backend/exports/

# Frontend
vmms_frontend/certs/

# VSCode
.vscode/