# Node modules
node_modules/
vmms_backend/node_modules/
vmms_frontend/node_modules/




# Build folders
vmms_frontend/dist/
vmms_frontend/build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db





# VSCode
.vscode/